body {
    background-color: wheat;
    color: purple;
    font-family: 'Comic Neue', cursive;
    font-size: 24px;
    margin: 70px;
    background-image: url(images/pattern.webp);
    background-repeat: repeat;
}
h1 {
    color: purple;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-bottom: 1px solid black;
    text-align: center;
}
h2, h3 {
    color: rgb(224, 103, 224);
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}
footer {
    color: black;
    font-weight: bold;
}
header p {
    line-height: 2;
    margin: 30px;
    font-weight: bolder;
}
footer p {
    font-size: 15px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color:blue;
}
header,section,footer {
    padding: 30px;
}
section {
    border: 1px solid red;
    background-color: rgb(231, 219, 202);
    margin: 30px; 
    width: 50%; 
    height: 50%;
}
header {
    border-bottom: 5px solid grey;
}
img {
    height: 300px;
    margin: 0 auto;
    display: block;
}
.title {
    font-size: 80px;
    text-decoration: Underline;
}
#oshie-with-my-son {
    background-color: rgb(70, 233, 206);
    color: purple;
    font-weight: bold;
    font-size: 24px;
}
.oshie-echo {
font-size: 48px;
}
.container {
    max-width: 1000px;
    margin: 0 auto;    
}
.title-h3 {
    font-size: 70px;
}

